exclude: docs
repos:
-   repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
    -   id: black
        args: [--safe, --quiet]
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.13.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==22.6.0]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: fix-encoding-pragma
        args: [--remove]
    -   id: check-yaml
        exclude: tests
    -   id: sort-simple-yaml
        files: grayskull/pypi/config.yaml
    -   id: check-toml
    -   id: check-json
    -   id: check-merge-conflict
    -   id: pretty-format-json
        args: [--autofix]
    -   id: debug-statements
        language_version: python3
-   repo: https://github.com/PyCQA/isort
    rev: 5.11.4
    hooks:
        -   id: isort
            exclude: tests/data
-   repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        exclude: tests/data
        language_version: python3
        additional_dependencies:
            - flake8-typing-imports==1.9.0
            - flake8-builtins==1.5.3
            - flake8-bugbear==20.1.4
