include LICENSE
include README.rst
include licence/licence_cache.json
recursive-include license/data * *.*

exclude .github
exclude azure-pipelines.yml
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .coveragerc
prune tests/
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
