include LICENSE
include README.md
graft grayskull/license

prune .github
exclude .gitattributes
exclude .gitignore
exclude .pre-commit-config.yaml
exclude .coveragerc
exclude *.lock
exclude *.y[a]ml
prune tests/
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
